table {
    border: solid;
    border-color: red;
    border-radius: 2px;
}

a {
    text-decoration: none;
    color: green;
}

ul a {
    text-decoration: underline;
    color: green;
    font-weight: bold;
}